:local(.component) {
  margin: 16px 0 8px 0;
}

:local(.fullWrapper) {
  border: 1px solid #ededed;
  box-shadow: 0 0 3px transparent;
  transition: 0.3s;
}

:local(.hide) {
  display: none !important;
}

:local(.fullWrapper).focused {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

:local(.fullWrapper).disabled {
  opacity: 0.6;
  border-style: dotted;
  pointer-events: none;
}

:local(.toolbarWrapper) {
  margin: 0;
  border: none;
}

:local(.toolbarWrapper) .rdw-option-wrapper {
  border: none;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
  border-radius: 0;
}

:local(.toolbarWrapper) .rdw-option-wrapper:not(.rdw-option-disabled) {
  opacity: 0.7;
}

:local(.toolbarWrapper) .rdw-option-wrapper:hover {
  box-shadow: none;
}

:local(.toolbarWrapper) .rdw-option-wrapper:not(.rdw-option-disabled):hover {
  opacity: 1;
  transform: translateY(-2px);
}

:local(.toolbarWrapper) .rdw-option-wrapper.rdw-option-active {
  box-shadow: none;
  opacity: 1;
  transform: translateY(-2px);
  border-bottom-color: black;
}

:local(.editorWrapper) {
  padding: 0 20px;
  margin: -1rem 0 0 0;
}

:local(.fullWrapper) .rdw-image-alignment-options-popup {
  border: 1px solid rgba(0, 0, 0, 0.27);
  border-radius: 0;
  justify-content: center;
  padding: 3px 0;
  width: auto;
}

:local(.fullWrapper) .rdw-image-alignment-options-popup .rdw-option-wrapper {
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  opacity: 0.7;
  transition: 0.3s;
  width: auto;
  height: auto;
  padding: 5px 10px;
  border-bottom: 2px solid transparent;
}

:local(.fullWrapper) .rdw-image-alignment-options-popup .rdw-option-wrapper:hover {
  box-shadow: none;
  opacity: 1;
  transform: translateY(-2px);
}

:local(.fullWrapper) .rdw-image-left .rdw-image-alignment-options-popup .rdw-option-wrapper:nth-child(1) {
  border-bottom: 2px solid black;
}

:local(.fullWrapper) .rdw-image-center .rdw-image-alignment-options-popup .rdw-option-wrapper:nth-child(2) {
  border-bottom: 2px solid black;
}

:local(.fullWrapper) .rdw-image-right .rdw-image-alignment-options-popup .rdw-option-wrapper:nth-child(3) {
  border-bottom: 2px solid black;
}

:local(.fullWrapper) [class^="rdw"][class$="modal"] {
  font-family: "Roboto", sans-serif;
  position: fixed;
  z-index: 1500;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0 0 0 5000px #00000080;
  border-radius: 2px;
  transition: 0.3s;
  padding: 24px 24px 8px 24px;
  box-sizing: border-box;
  width: 400px;
  max-width: 95vw;
}

:local(.fullWrapper) [class^="rdw"][class$="modal-label"] {
  font-size: 12px;
}

:local(.fullWrapper) [class^="rdw"][class$="input"] {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  border-radius: 0;
  font-size: 14px;
  padding: 0;
  letter-spacing: 0.5px;
  height: 32px;
  transition: 0.3s;
  margin-bottom: 20px;
  width: 100%;
}

:local(.fullWrapper) [class^="rdw"][class$="input"]:focus {
  border-bottom-width: 2px;
}

[class^="rdw"][class$="modal-buttonsection"],
:local(.fullWrapper) [class^="rdw"][class$="modal-btn-section"] {
  margin-right: -16px;
  text-align: right;
}

:local(.fullWrapper) [class^="rdw"][class$="modal-btn"] {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  border: none;
  padding: 8px 16px;
  transition: 0.3s;
  width: auto;
  height: auto;
}

:local(.fullWrapper) [class^="rdw"][class$="modal-btn"]:first-child {
  margin-left: 0;
  float: right;
}

:local(.fullWrapper) [class^="rdw"][class$="modal-btn"]:hover {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.08);
}

:local(.fullWrapper) [class^="rdw"][class$="modal-btn"]:disabled {
  background: none;
  cursor: not-allowed;
}

:local(.fullWrapper) .rdw-link-modal {
  height: 250px;
}

:local(.fullWrapper) .rdw-image-modal {
  height: 200px;
}

:local(.fullWrapper) .rdw-image-modal .rdw-image-mandatory-sign {
  display: none;
}

:local(.fullWrapper) .rdw-image-modal .rdw-image-modal-header {
  margin: 0;
}

:local(.fullWrapper) .rdw-image-modal .rdw-image-modal-header-label {
  display: none;
}

:local(.fullWrapper) .rdw-image-modal .rdw-image-modal-header-option {
  width: auto;
  font-size: 12px;
  margin-bottom: -15px;
}

:local(.fullWrapper) .rdw-image-modal .rdw-image-modal-size-input:first-child {
  margin-right: 20px;
}

:local(.fullWrapper) .rdw-image-modal .rdw-image-modal-size-input {
  margin-left: 5px;
}

:local(.fullWrapper) .rdw-image-modal .rdw-image-modal-size {
  margin: 0;
  font-size: 23px;
}